# Project Title
### Data Engineering Capstone Project

#### Project Summary
This porject aims to study which US cities are most popular for immigration. Providing data on demographics on the arrivals, such as gender, visa types, median ages, etc. As well as providing data on the climates of different cities to study any corelation between temperature and rate of immigrations. And airport data to identify trends in which airlines are most used and departure destinations.Spark was used for the ETL pipeline and data stored in parquet for analysis. 

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
%pip install --upgrade pip; pip install pyarrow; pip install --upgrade pandas;

The following command must be run outside of the IPython shell:

    $ pip install --upgrade pip; pip install pyarrow; pip install --upgrade pandas;

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [2]:
# Do all imports and installs here
import pandas as pd
from pyspark.sql import SparkSession
from data_quality_check import data_quality_check
from etl import create_valid_ports, clean_table, clean_i94, add_port
from create_model import create_model

In [3]:
spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

**I94 Immigration Data:** This data comes from the US National Tourism and Trade Office. A data dictionary is included in the workspace.

In [4]:
# Read immigration file
immigration_fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
i94_df = spark.read.format('com.github.saurfang.sas.spark').load(immigration_fname)

In [5]:
# Display immigration file data
i94_df.show(n=5)

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|  6.0|2016.0|   4.0| 692.0| 692.0|    XXX|20573.0|   null|   null|   null|  37.0|    2.0|  1.0|    null|    null| null|      T|   null|      U|   null| 1979.0|10282016|  null|  null|   null| 1.897628485E9| null|      B2|
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null|  3.73679633E9|00296|      F1|
| 15.0|2016.0|   4.0| 101.0| 101.0|    WAS|20545.0|    1.0|     MI|20691.0|  55.0|    2.0|  1.0|20160401|    null| null|      T|      O|   null|      M| 1961.0|09302016|     M|  null|     OS|  6.66643185E8|   93|      B2|
| 16.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|  28.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1988.0|09302016|  null|  null|     AA|9.246846133E10|00199|      B2|
| 17.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|   4.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 2012.0|09302016|  null|  null|     AA|9.246846313E10|00199|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 5 rows

**World Temperature Data:** This dataset came from Kaggle.

In [6]:
# Read temperature file
temperature_fname = '../../data2/GlobalLandTemperaturesByCity.csv'
temperature_df = spark.read.format('csv').option('delimiter',',').option('header','true').load(temperature_fname)

In [7]:
temperature_df.show(n=5)

+----------+------------------+-----------------------------+-----+-------+--------+---------+
|        dt|AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|             6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
only showing top 5 rows

**U.S. City Demographic Data:** This data comes from OpenSoft.

In [8]:
# Read demographics file
demographics_fname = 'us-cities-demographics.csv'
demographics_df = spark.read.format('csv').option('delimiter',';').option('header','true').load(demographics_fname)

In [9]:
demographics_df.show(n=5)

+----------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+
|            City|        State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race|Count|
+----------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+
|   Silver Spring|     Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino|25924|
|          Quincy|Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White|58723|
|          Hoover|      Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian| 4759|
|Rancho Cucamonga|   California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...|24437|
|          Newark|   New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White|76402|
+----------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+
only showing top 5 rows

**Airport Code Table:** This is a simple table of airport codes and corresponding cities.

In [10]:
# Read airport code file
airport_code_fname = 'airport-codes_csv.csv'
airport_code_df = spark.read.format('csv').option('delimiter',',').option('header','true').load(airport_code_fname)

In [11]:
airport_code_df.show(n=5)

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|     US-AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|     US-AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AR|       closed|Newport Hospital ...|         237|       NA|         US|     US-AR|     Newport|    null|     null|      null| -91.254898, 35.6087|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 5 rows

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

In [12]:
i94_df.cache()
i94_df.count()

3096313

In [13]:
temperature_df.cache()
temperature_df.count()

8599212

In [14]:
demographics_df.cache()
demographics_df.count()

2891

In [15]:
airport_code_df.cache()
airport_code_df.count()

55075

#### Cleaning Steps
Document steps necessary to clean the data

In [16]:
# Create a list of valid ports and drop empty columns 
dropped_i94_df = clean_i94(i94_df)

number of rows in i94 before clenaing: 3096313
number of rows in i94 after clenaing: 2995590

In [17]:
# Drop empty rows in i94 dataframe
cleaned_i94_df = clean_table(dropped_i94_df)

number of rows in table before removing empty rows: 2995590
number of rows in table after removing empty rows: 2306750

In [18]:
# Drop empty rows in temperature dataframe and anything before 2013 to use for averages
temperature_df = temperature_df.filter(temperature_df.dt >= '2013-01-01')
temperature_df = temperature_df.filter(temperature_df.AverageTemperature != 'null')
temperature_df = add_port(temperature_df)
cleaned_temperature_df = clean_table(temperature_df)

number of rows in table before removing empty rows: 1812
number of rows in table after removing empty rows: 1812

In [19]:
# Drop empty rows in demographics dataframe
demographics_df = add_port(demographics_df)
cleaned_demographics_df = clean_table(demographics_df)
fixed_cleaned_demographics_df = cleaned_demographics_df.withColumnRenamed('Median Age','median_age') \
                                                        .withColumnRenamed('Male Population', 'male_population') \
                                                        .withColumnRenamed('Female Population', 'female_population') \
                                                        .withColumnRenamed('Total Population', 'total_population') \
                                                        .withColumnRenamed('Number of Veterans', 'number_of_veterans') \
                                                        .withColumnRenamed('Foreign-born', 'foreign_born') \
                                                        .withColumnRenamed('Average Household Size', 'average_household_size') \
                                                        .withColumnRenamed('State Code', 'state_code')

number of rows in table before removing empty rows: 879
number of rows in table after removing empty rows: 875

In [20]:
# Drop empty rows in airport code dataframe
cleaned_airport_code_df = clean_table(airport_code_df)

number of rows in table before removing empty rows: 55075
number of rows in table after removing empty rows: 2746

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

| table | columns | description | type |
|---|---|---|---|
| Immigrations | cicid; i94yr; i94mon; i94cit; i94res; i94port; arrdate; i94mode; i94addr; depdate; i94bir; i94visa; count; dtadfile; entdepa; entdepd; matflag; biryear; dtaddto; gender; airline; admnum; fltno; visatype;  | Contains i94 immigration data | Fact Table |
| Temperature | dt; AverageTemperature; AverageTemperatureUncertainty;  City; Country; Latitude; Longitude; i94port; | Contains temperature data | Dimension Table |
| Demographics | City; State; Median Age; Male Population; Female Population; Total Population; Number of Veterans; Foreign-born; Average Household Size; State Code; Race; Count; i94port; | Contains airport data | Dimension Table |
| Airport | ident; type; name; elevation_ft; continent; iso_country; iso_region;  municipality; gps_code; iata_code; local_code; coordinates; | Contains demographicsdata | Dimension Table |

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

1. Clean data.
2. Create fact table from immigrations file.
3. Create dimensions tables from temperature, airport code, and emographics files.

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [21]:
%rm -rf ./output/
create_model(cleaned_i94_df, cleaned_temperature_df, fixed_cleaned_demographics_df, cleaned_airport_code_df)

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [22]:
data_quality_check(cleaned_i94_df)
data_quality_check(cleaned_temperature_df)
data_quality_check(fixed_cleaned_demographics_df)
data_quality_check(cleaned_airport_code_df)

Data quality check #1 passed, fact and dimension table exist

Data quality check #2 passed, fact and dimension table not empty

Data quality check #1 passed, fact and dimension table exist

Data quality check #2 passed, fact and dimension table not empty

Data quality check #1 passed, fact and dimension table exist

Data quality check #2 passed, fact and dimension table not empty

Data quality check #1 passed, fact and dimension table exist

Data quality check #2 passed, fact and dimension table not empty

In [23]:
# Read parquet files
parI94 = spark.read.parquet("./output/immigration_table.parquet")
parTemp= spark.read.parquet("./output/temperature_table.parquet")
parDem = spark.read.parquet("./output/demographics_table.parquet")
parAir = spark.read.parquet("./output/airport_code_table.parquet")

parI94.createOrReplaceTempView("immigration")
parTemp.createOrReplaceTempView("temperature")
parDem.createOrReplaceTempView("demographics")
parAir.createOrReplaceTempView("airport")

parI94.show()
parTemp.show()
parDem.show()
parAir.show()

+---------+------+------+------+------+-------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+--------+------+-------+---------------+-----+--------+-------+
|    cicid| i94yr|i94mon|i94cit|i94res|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|entdepa|entdepd|matflag|biryear| dtaddto|gender|airline|         admnum|fltno|visatype|i94port|
+---------+------+------+------+------+-------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+--------+------+-------+---------------+-----+--------+-------+
|5750212.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20576.0|  62.0|    2.0|  1.0|20160430|      G|      O|      M| 1954.0|07282016|     M|     UA|5.9504946533E10|00150|      WT|    AGA|
|5750213.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20576.0|  44.0|    2.0|  1.0|20160430|      G|      O|      M| 1972.0|07282016|     F|     UA|5.9504949233E10|00150|      WT|    AGA|
|5750214.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  71.0|    2.0|  1.0|20160430|      G|      O|      M| 1945.0|07292016|     F|     UA|5.9513706133E10|00178|      WT|    AGA|
|5750215.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  65.0|    2.0|  1.0|20160430|      G|      O|      M| 1951.0|07292016|     F|     UA|5.9513649333E10|00178|      WT|    AGA|
|5750216.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  65.0|    2.0|  1.0|20160430|      G|      O|      M| 1951.0|07292016|     M|     UA|5.9513623733E10|00178|      WT|    AGA|
|5750217.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  59.0|    2.0|  1.0|20160430|      G|      O|      M| 1957.0|07292016|     M|     UA|5.9513633833E10|00178|      WT|    AGA|
|5750218.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  47.0|    2.0|  1.0|20160430|      G|      O|      M| 1969.0|07292016|     F|     KE|5.9518693833E10|09137|      WT|    AGA|
|5750219.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  39.0|    2.0|  1.0|20160430|      G|      O|      M| 1977.0|06142016|     F|     UA|5.9513762033E10|00178|      WT|    AGA|
|5750220.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  38.0|    2.0|  1.0|20160430|      G|      O|      M| 1978.0|07292016|     M|     UA|5.9513693333E10|00178|      WT|    AGA|
|5750221.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  36.0|    2.0|  1.0|20160430|      G|      O|      M| 1980.0|07292016|     M|     UA|5.9513703433E10|00178|      WT|    AGA|
|5750222.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  35.0|    2.0|  1.0|20160430|      G|      O|      M| 1981.0|07292016|     F|     UA|5.9513737333E10|00178|      WT|    AGA|
|5750223.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  32.0|    2.0|  1.0|20160430|      G|      O|      M| 1984.0|07292016|     F|     UA|5.9513634733E10|00178|      WT|    AGA|
|5750224.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|   9.0|    2.0|  1.0|20160430|      G|      O|      M| 2007.0|07292016|     F|     UA|5.9513656733E10|00178|      WT|    AGA|
|5750225.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|   7.0|    2.0|  1.0|20160430|      G|      O|      M| 2009.0|07292016|     M|     UA|5.9513650233E10|00178|      WT|    AGA|
|5750226.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|   6.0|    2.0|  1.0|20160430|      G|      O|      M| 2010.0|07292016|     M|     UA|5.9513720933E10|00178|      WT|    AGA|
|5750227.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|   4.0|    2.0|  1.0|20160430|      G|      O|      M| 2012.0|07292016|     F|     UA|5.9513730033E10|00178|      WT|    AGA|
|5750228.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|   2.0|    2.0|  1.0|20160430|      G|      O|      M| 2014.0|07292016|     M|     UA|5.9513644833E10|00178|      WT|    AGA|
|5750229.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  36.0|    2.0|  1.0|20160430|      G|      Q|      M| 1980.0|07282016|     F|     KE|5.9504656933E10|00113|      WT|    AGA|
|5750259.0|2016.0|   4.0| 254.0| 209.0|20574.0|    1.0|     GU|20577.0|  46.0|    2.0|  1.0|20160430|      G|      O|      M| 1970.0|10292016|     M|     DL| 9.492272633E10|00608|      B2|    AGA|
|5750838.0|2016.0|   4.0| 254.0| 276.0|20574.0|    1.0|     GQ|20577.0|   9.0|    2.0|  1.0|20160430|      G|      Q|      M| 2007.0|07282016|     F|     KE|5.9504746733E10|00113|      WT|    AGA|
+---------+------+------+------+------+-------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+--------+------+-------+---------------+-----+--------+-------+
only showing top 20 rows

+----------+--------------------+-----------------------------+-----------+-------------+--------+---------+-------+
|        dt|  AverageTemperature|AverageTemperatureUncertainty|       City|      Country|Latitude|Longitude|i94port|
+----------+--------------------+-----------------------------+-----------+-------------+--------+---------+-------+
|2013-01-01|               2.125|                        0.255|Springfield|United States|  37.78N|   93.56W|    SPI|
|2013-02-01|               2.389|          0.34600000000000003|Springfield|United States|  37.78N|   93.56W|    SPI|
|2013-03-01|                4.91|                         0.29|Springfield|United States|  37.78N|   93.56W|    SPI|
|2013-04-01|              11.783|                        0.405|Springfield|United States|  37.78N|   93.56W|    SPI|
|2013-05-01|  17.999000000000002|                         0.23|Springfield|United States|  37.78N|   93.56W|    SPI|
|2013-06-01|  23.758000000000003|          0.17300000000000001|Springfield|United States|  37.78N|   93.56W|    SPI|
|2013-07-01|  25.131999999999998|          0.21100000000000002|Springfield|United States|  37.78N|   93.56W|    SPI|
|2013-08-01|              24.568|                        0.303|Springfield|United States|  37.78N|   93.56W|    SPI|
|2013-09-01|  22.918000000000003|                        1.173|Springfield|United States|  37.78N|   93.56W|    SPI|
|2013-01-01|-0.28000000000000025|          0.37200000000000005|Springfield|United States|  39.38N|   89.48W|    SPI|
|2013-02-01|               0.198|                        0.335|Springfield|United States|  39.38N|   89.48W|    SPI|
|2013-03-01|               2.521|          0.27699999999999997|Springfield|United States|  39.38N|   89.48W|    SPI|
|2013-04-01|              11.333|                        0.293|Springfield|United States|  39.38N|   89.48W|    SPI|
|2013-05-01|              18.889|          0.16399999999999998|Springfield|United States|  39.38N|   89.48W|    SPI|
|2013-06-01|              23.291|                        0.299|Springfield|United States|  39.38N|   89.48W|    SPI|
|2013-07-01|              23.824|                        0.142|Springfield|United States|  39.38N|   89.48W|    SPI|
|2013-08-01|              23.645|          0.37799999999999995|Springfield|United States|  39.38N|   89.48W|    SPI|
|2013-09-01|              22.002|                        1.082|Springfield|United States|  39.38N|   89.48W|    SPI|
|2013-01-01|               -4.14|                        0.355|Springfield|United States|  42.59N|   72.00W|    SPI|
|2013-02-01| -3.3140000000000005|                        0.252|Springfield|United States|  42.59N|   72.00W|    SPI|
+----------+--------------------+-----------------------------+-----------+-------------+--------+---------+-------+
only showing top 20 rows

+------------+--------------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+-------+
|        City|               State|median_age|male_population|female_population|total_population|number_of_veterans|foreign_born|average_household_size|state_code|                Race| Count|i94port|
+------------+--------------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+-------+
|  Washington|District of Columbia|      33.8|         319705|           352523|          672228|             25963|       95117|                  2.24|        DC|Black or African-...|328786|    WAS|
|  Washington|District of Columbia|      33.8|         319705|           352523|          672228|             25963|       95117|                  2.24|        DC|  Hispanic or Latino| 71129|    WAS|
|  Washington|District of Columbia|      33.8|         319705|           352523|          672228|             25963|       95117|                  2.24|        DC|American Indian a...|  6130|    WAS|
|  Washington|District of Columbia|      33.8|         319705|           352523|          672228|             25963|       95117|                  2.24|        DC|               Asian| 35072|    WAS|
|  Washington|District of Columbia|      33.8|         319705|           352523|          672228|             25963|       95117|                  2.24|        DC|               White|285402|    WAS|
|Jacksonville|      North Carolina|      24.2|          40015|            27348|           67363|              8252|        3732|                  2.51|        NC|Black or African-...| 13253|    JAC|
|     Jackson|           Tennessee|      35.3|          30007|            36973|           66980|              3529|        2097|                  2.52|        TN|               Asian|  1171|    JAC|
|Jacksonville|      North Carolina|      24.2|          40015|            27348|           67363|              8252|        3732|                  2.51|        NC|  Hispanic or Latino| 11947|    JAC|
|Jacksonville|             Florida|      35.7|         419203|           448828|          868031|             75432|       85650|                  2.62|        FL|  Hispanic or Latino| 80064|    JAC|
|     Jackson|         Mississippi|      31.7|          79039|            91772|          170811|              8146|        1789|                  2.65|        MS|  Hispanic or Latino|  3017|    JAC|
|Jacksonville|             Florida|      35.7|         419203|           448828|          868031|             75432|       85650|                  2.62|        FL|               White|543582|    JAC|
|     Jackson|           Tennessee|      35.3|          30007|            36973|           66980|              3529|        2097|                  2.52|        TN|American Indian a...|   564|    JAC|
|     Jackson|         Mississippi|      31.7|          79039|            91772|          170811|              8146|        1789|                  2.65|        MS|               White| 28775|    JAC|
|Jacksonville|      North Carolina|      24.2|          40015|            27348|           67363|              8252|        3732|                  2.51|        NC|               Asian|  4204|    JAC|
|     Jackson|         Mississippi|      31.7|          79039|            91772|          170811|              8146|        1789|                  2.65|        MS|               Asian|   864|    JAC|
|Jacksonville|      North Carolina|      24.2|          40015|            27348|           67363|              8252|        3732|                  2.51|        NC|               White| 51245|    JAC|
|Jacksonville|             Florida|      35.7|         419203|           448828|          868031|             75432|       85650|                  2.62|        FL|Black or African-...|282692|    JAC|
|Jacksonville|      North Carolina|      24.2|          40015|            27348|           67363|              8252|        3732|                  2.51|        NC|American Indian a...|  1741|    JAC|
|Jacksonville|             Florida|      35.7|         419203|           448828|          868031|             75432|       85650|                  2.62|        FL|               Asian| 50895|    JAC|
|     Jackson|           Tennessee|      35.3|          30007|            36973|           66980|              3529|        2097|                  2.52|        TN|               White| 36037|    JAC|
+------------+--------------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+-------+
only showing top 20 rows

+-----+--------------+--------------------+------------+---------+-----------+----------+--------------------+--------+----------+--------------------+---------+
|ident|          type|                name|elevation_ft|continent|iso_country|iso_region|        municipality|gps_code|local_code|         coordinates|iata_code|
+-----+--------------+--------------------+------------+---------+-----------+----------+--------------------+--------+----------+--------------------+---------+
| KFHU|medium_airport|Sierra Vista Muni...|        4719|       NA|         US|     US-AZ|Fort Huachuca Sie...|    KFHU|       FHU|-110.344001770019...|      FHU|
| PGUM| large_airport|Antonio B. Won Pa...|         298|       OC|         GU|    GU-U-A|HagÃ¥tÃ±a, Guam I...|    PGUM|       GUM|144.796005249, 13...|      GUM|
| KAVP|medium_airport|Wilkes Barre Scra...|         962|       NA|         US|     US-PA|Wilkes-Barre/Scra...|    KAVP|       AVP|-75.7233963013000...|      AVP|
| SWFX| small_airport|SÃ£o FÃ©lix do Ar...|         650|       SA|         BR|     BR-MT|SÃ£o FÃ©lix Do Ar...|    SWFX|      SWFX|-50.6896018981933...|      SXO|
| SANE|medium_airport|Vicecomodoro Ange...|         656|       SA|         AR|      AR-G| Santiago del Estero|    SANE|       SDE|-64.3099975586, -...|      SDE|
| CYWG| large_airport|Winnipeg / James ...|         783|       NA|         CA|     CA-MB|            Winnipeg|    CYWG|       YWG|-97.2398986816, 4...|      YWG|
| TIST|medium_airport|Cyril E. King Air...|          23|       NA|         VI|    VI-U-A|Charlotte Amalie,...|    TIST|       STT|-64.9733963012695...|      STT|
| SWUA| small_airport|SÃ£o Miguel do Ar...|        1249|       SA|         BR|     BR-GO|SÃ£o Miguel Do Ar...|    SWUA|      SWUA|-50.1976013183593...|      SQM|
| KBRO|medium_airport|Brownsville South...|          22|       NA|         US|     US-TX|         Brownsville|    KBRO|       BRO|-97.4259033203125...|      BRO|
| KBMI| large_airport|Central Illinois ...|         871|       NA|         US|     US-IL|  Bloomington/Normal|    KBMI|       BMI|-88.91590118, 40....|      BMI|
| SNJR| small_airport|Prefeito OctÃ¡vio...|        3117|       SA|         BR|     BR-MG|  SÃ£o JoÃ£o Del Rei|    SNJR|      SNJR|-44.2247238159, -...|      JDR|
| CNL3| small_airport|Brockville - Thou...|         402|       NA|         CA|     CA-ON|          Brockville|    CNL3|      CNL3|-75.7502975464, 4...|      XBR|
| SWVB| small_airport|Vila Bela da Sant...|         660|       SA|         BR|     BR-MT|Vila Bela Da Sant...|    SWVB|      SWVB|  -59.9458, -14.9942|      MTG|
| KHOP|medium_airport|Campbell AAF (For...|         573|       NA|         US|     US-KY|Fort Campbell/Hop...|    KHOP|       HOP|-87.4962005615000...|      HOP|
| KECG|medium_airport|Elizabeth City Re...|          12|       NA|         US|     US-NC|      Elizabeth City|    KECG|       ECG|-76.17459869, 36....|      ECG|
| KLIT| large_airport|Bill & Hillary Cl...|         262|       NA|         US|     US-AR|         Little Rock|    KLIT|       LIT|-92.2242965698, 3...|      LIT|
| KSHD| small_airport|Shenandoah Valley...|        1201|       NA|         US|     US-VA|Staunton/Waynesbo...|    KSHD|       SHD|-78.8964004517, 3...|      SHD|
| KBWG|medium_airport|Bowling Green War...|         547|       NA|         US|     US-KY|       Bowling Green|    KBWG|       BWG|-86.4197006225999...|      BWG|
| CYUL| large_airport|Montreal / Pierre...|         118|       NA|         CA|     CA-QC|           MontrÃ©al|    CYUL|       YUL|-73.7407989502, 4...|      YUL|
| KLHW| small_airport|Wright AAF (Fort ...|          45|       NA|         US|     US-GA|Fort Stewart(Hine...|    KLHW|       LHW|-81.562303, 31.88...|      LIY|
+-----+--------------+--------------------+------------+---------+-----------+----------+--------------------+--------+----------+--------------------+---------+
only showing top 20 rows

In [24]:
# Query parquet files to test successful ETL processing
# Get the average household size of all immagrant to Los Angeles that are older than ~30 years old
spark.sql("SELECT AVG(average_household_size) FROM immigration JOIN demographics on (immigration.i94port = demographics.i94port) WHERE demographics.city='Los Angeles' AND immigration.i94bir < 1980.0").show()

+-------------------------------------------+
|avg(CAST(average_household_size AS DOUBLE))|
+-------------------------------------------+
|                          2.860000000029856|
+-------------------------------------------+

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

### Dimension Tables:

**Temperature:**

| Feature | Description |
|---|---|
| dt | Datetime stamp |
| AverageTemperature | Avg Temp of city |
| AverageTemperatureUncertainty | Uncertainty of Avg Temp of city|
| City | City name |
| Country | Country name |
| Latitude | Latitude coordinates |
| Longitude | Longitude coordinates|
| i94port | Port of entry |

**Demographics:**

| Feature | Description |
|---|---|
| City | City name |
| State | State name|
| Median Age | Average age of residents |
| Male Population | Number of male residents |
| Female Population | Number of female residents |
| Total Population | Number of total residents |
| Number of Veterans | Number of residents that are veterans |
| Foreign-born | Number of residents not born in country |
| Average Household Size | Average size of residents in single house |
| State Code | Two letter state code |
| Race | Most promemnant race in country |
| Count | Count of largest race demographic |
| i94port | Port of entry |

**Airport Code:**

| Feature | Description |
|---|---|
| ident | Airport identity number |
| type | Type of airport by size |
| name | Airport name |
| elevation_ft | Elevation of airport in feet |
| continent | Continent of the airport |
| iso_country | Country of airport |
| iso_region | Region of airport within country |
| municipality | Municipality of airport |
| gps_code | GPS code |
| iata_code | IATA code |
| local_code | Local identity code |
| coordinates | Latitude and Longitude of airport |


### Fact Table:

**Immigration:**

| Feature | Description |
|---|---|
| cicid | Record ID |
| i94yr | 4 digit year|
| i94mon | Month |
| i94cit | Country of citizenship |
| i94res | Country of residence |
| i94port | Port of entry |
| arrdate | Arrivate date |
| i94mode | Mode of transportation |
| i94addr | State of arrival in USA |
| depdate | Departure date |
| i94bir | Birth year of respondant |
| i94visa | Visa type |
| count | Summary statistics |
| dtadfile | Date added to i94 files |
| entdepa | Arrival flag |
| entdepd | Departure flag |
| matflag | Match flag |
| biryear | Birth year |
| dtaddto | Date admitted to USA |
| gender | Gender of respondant |
| airline | Airline of entry |
| admnum | Admission number |
| fltno | Flight number |
| visatype | Type of visa held by repondant |

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.

### Rationale:
Using Spark allows for the ability to handle multiple file formats that contians many rows of data. And allows integration with Redshift or increasing nodes should requirments change.

### Data Update Schedule 
This depends on the update cycle of the data itself, in the ase of temperature data, since it is updated monthly, we can adopt a monthly update cycle.

### Scenarios:
- The data was increased by 100x.
    * Using Spark, we can scale up by increasing the number of worker nodes working on the data.
- The data populates a ddashboardashboard that must be updated on a daily basis by 7am every day.
    * Integration with Apache Airflow can be performed to allow a scheduled DAG to query the data everyday at 7am.
- The database needed to be accessed by 100+ people.
    * Data can be migrated to Redshift to allow auto-scaling capabilities to handle the load of increased access by users.